@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family: verdana;
    /*处理BUG*/
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*全局设置字号*/
/*开启硬件加速*/
.Ac {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*常用配置*/
.wrap {
    max-width: 640px;
    margin: auto;
    width: 100%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.img-circle {
    border-radius: 50%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.bk-white {
    background: #FFFFFF;
}

.bk-gray {
    background: #f6f6f6 !important;
}

.bk-red {
    background: #f24244 !important;
}

.bk-blue {
    background: #0c498a !important;
}

.color-red {
    color: #FF6666 !important;
}

.color-green {
    color: #70d900 !important;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.pf {
    position: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

.text-blod {
    font-weight: bold;
}

.border {
    border: #e0e0e0 solid 0.02rem;
}

.header-bar {
    display: flex;
    height: 0.8rem;
    border-bottom: #e0e0e0 solid 1px;
    font-size: 0.3rem;
    line-height: 0.8rem;
    text-align: center;
    background: #f6f6f6;
}
.header-bar div:first-of-type{
    width: 1rem;
    font-size: 0.5rem;
    color: #404040;
}
.header-bar div:first-of-type  span{

    font-size:0.3rem;
}
.header-bar div:nth-of-type(2){
    width: 5.5rem;
    font-size: 0.3rem;
    color: #404040;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.header-bar div:last-of-type{
    width: 1rem;
}
