
@font-face {font-family: "iconfont";
  src: url('/Static/css/base/iconfont.ttf?t=1518429754950') format('truetype') /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-international-01:before { content: "\e605"; }

.icon-ok-01:before { content: "\e62f"; }

.icon-close-01:before { content: "\e692"; }

.icon-close-02:before { content: "\e68f"; }

.icon-add-01:before { content: "\e606"; }

.icon-phone-01:before { content: "\e607"; }

.icon-minus-01:before { content: "\e608"; }

.icon-tip-01:before { content: "\e609"; }

.icon-china-01:before { content: "\e60a"; }

.icon-man-01:before { content: "\e602"; }

.icon-send-02:before { content: "\e617"; }

.icon-question-01:before { content: "\e6c5"; }

.icon-lock-01:before { content: "\e60f"; }

.icon-clac-01:before { content: "\e615"; }

.icon-artical-01:before { content: "\e616"; }

.icon-woman-01:before { content: "\e604"; }

.icon-arrow-right-02:before { content: "\e6e4"; }

.icon-hourglass-01:before { content: "\e60b"; }

.icon-home:before { content: "\e62c"; }

.icon-arrow-up-01:before { content: "\e6a5"; }

.icon-golden-01:before { content: "\e61c"; }

.icon-true-01:before { content: "\e60c"; }

.icon-lock-open-01:before { content: "\e610"; }

.icon-jiantou-01:before { content: "\e623"; }

.icon-medal-01:before { content: "\e600"; }

.icon-triangle-up-01:before { content: "\e60d"; }

.icon-back-01:before { content: "\e60e"; }

.icon-message-01:before { content: "\e618"; }

.icon-earphone-01:before { content: "\e65f"; }

.icon-voice-01:before { content: "\e601"; }

.icon-clock:before { content: "\e6e6"; }

.icon-triangle-right-bottom-01:before { content: "\e611"; }

.icon-input-01:before { content: "\e619"; }

.icon-triangle-left-01:before { content: "\e612"; }

.icon-triangle-right-01:before { content: "\e613"; }

.icon-triangle-down-01:before { content: "\e614"; }

.icon-arrow-down-01:before { content: "\e6a6"; }

.icon-send-01:before { content: "\e61a"; }

.icon-arrow-left-02:before { content: "\e6e5"; }

.icon-hot-01:before { content: "\e80e"; }

.icon-back-02:before { content: "\e61b"; }

.icon-back-03:before { content: "\e624"; }

.icon-hot-02:before { content: "\e64e"; }

.icon-pre-03:before { content: "\e80f"; }

